<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.lhhy" version="0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>plugin-baiduNav</name><js-module name="plugin-baiduNav" src="www/plugin-baiduNav.js"><clobbers target="cordova.plugins.plugin-baiduNav" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="plugin-baiduNav"><param name="android-package" value="org.lhhy.plugin-baiduNav" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/plugin-baiduNav.java" target-dir="src/org/lhhy/plugin-baiduNav" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="plugin-baiduNav"><param name="ios-package" value="plugin-baiduNav" /></feature></config-file><source-file src="src/ios/plugin-baiduNav.m" /></platform></plugin>